* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    width: 450px;
    text-align: center;
    overflow: hidden;
    background: transparent;
}

.tabs {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 10px;
    width: 100%;
    white-space: nowrap;
}

.tab {
    padding: 12px 25px;
    cursor: pointer;
    font-weight: bold;
    position: relative;
    transition: color 0.3s;
    flex: 1;
    text-align: center;
    white-space: nowrap;
    font-family: '1';
}

.tab.active {
    color: black;
}

.tab-indicator {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 3px;
    background: black;
    transition: transform 0.3s ease-in-out;
}

.form-container {
    display: flex;
    width: 200%;
    max-width: 900px;
    transition: transform 0.5s ease-in-out;
}

.form {
    width: 50%;
    padding: 15px;
    flex-shrink: 0;
    
}

.input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    border-radius: 7px;
    background: #f0f0f0;
    font-family: '1';
}

.submit {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-family: '1';
}

button:hover {
    background: rgb(83, 83, 83);
}

.navbar {
    width: 100%;
    height: 90px; 
    background-color: rgba(48, 48, 48, 0.4); 
    position: fixed; 
    top: 0;
    left: 0;
}

.content {
    font-family: '1';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    margin-left: 150px;
    color: white;
}

img {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 30px;
    width: 120px;
    height: 90px;
}   

@font-face {
    font-family: '1';
    src: url(fonts/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: '2';
    src: url(fonts/LilitaOne-Regular.ttf);
}